[submodule "ipd-implementation"]
	path = ipd-implementation
	url = git@github.com:smehner1/ipd.git
[submodule "mini-internet"]
	path = mini-internet
	url = git@github.com:smehner1/mini_internet_project.git
	branch = mini-ipd
