[submodule "mini-internet"]
	path = mini-internet
	url = https://git.informatik.tu-cottbus.de/rechnernetze/mini-internet
[submodule "ipd-implementation"]
	path = ipd-implementation
	url = git@github.com:smehner1/ipd.git
