[submodule "ipd-implementation"]
	path = ipd-implementation
	url = https://github.com/smehner1/ipd
[submodule "mini-internet"]
	path = mini-internet
	url = https://github.com/smehner1/mini_internet_project
	branch = mini-ipd
